body{
  color:black;
  background-color: white;
}
h1{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  margin-top: 10px;
}

.resizedTextbox {width: 400px; height: 20px}